In [5]:
import pandas as pd  
import numpy as np  

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [6]:
dataset = pd.read_csv('Weather.csv')

In [7]:
dataset.shape

(119040, 31)

In [8]:
dataset.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
X = dataset['MinTemp'].values.reshape(-1,1)
y = dataset['MaxTemp'].values.reshape(-1,1)

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=0)

In [11]:
regressor = LinearRegression()

In [12]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
print(regressor.intercept_)

[10.70056704]

In [14]:
print(regressor.coef_)

[[0.91877423]]

In [126]:
y_pred = regressor.predict(X_test)

In [127]:
y_pred

array([[33.6699228 ],
       [30.09691191],
       [26.52390101],
       ...,
       [32.64906255],
       [30.60734204],
       [31.62820229]])

In [128]:
df = pd.DataFrame({'Actual':y_test.flatten(),'predicted':y_pred.flatten()})

In [107]:
df

          Actual  predicted
0      28.888889  33.669923
1      31.111111  30.096912
2      27.222222  26.523901
3      28.888889  31.117772
4      23.333333  15.804868
5      37.222222  30.607342
6      22.222222  11.721427
7      35.555556  33.669923
8      30.555556  30.607342
9      28.888889  32.649063
10     24.444444  29.076052
11     22.777778  23.971750
12     30.555556  30.096912
13     26.111111  26.013471
14     27.222222  29.076052
15     30.555556  32.649063
16     10.555556  15.804868
17     32.222222  32.138632
18     29.444444  29.586482
19     23.333333  18.867449
20     30.555556  26.013471
21     43.333333  31.117772
22     27.222222  30.096912
23     33.333333  33.159493
24     31.111111  22.440460
25     30.000000  31.117772
26     33.333333  30.607342
27     31.111111  30.607342
28     33.333333  35.201213
29     36.111111  30.096912
...          ...        ...
23778   4.444444   9.679707
23779  31.111111  32.138632
23780  30.000000  32.138632
23781  34.444444  30.096912
23782  28.888889  32.649063
23783  32.222222  29.076052
23784  25.000000  15.804868
23785  26.666667  30.096912
23786  35.000000  32.138632
23787  15.000000  12.231857
23788  19.444444  22.440460
23789  15.000000  19.888309
23790  33.333333  25.503041
23791  27.777778  26.013471
23792  31.666667  30.096912
23793  31.666667  31.628202
23794  29.444444  31.117772
23795  29.444444  33.669923
23796  16.666667  17.846589
23797  20.000000  21.419600
23798  28.888889  32.138632
23799  31.111111  30.096912
23800  44.444444  35.711643
23801  36.666667  36.222073
23802  29.444444  33.159493
23803  32.777778  32.138632
23804  32.222222  29.076052
23805  31.111111  32.649063
23806  31.111111  30.607342
23807  36.666667  31.628202

[23808 rows x 2 columns]

In [109]:
metrics.mean_absolute_error(y_test,y_pred)

3.1994682133327714

In [129]:
metrics.mean_squared_error(y_test,y_pred)

17.628975672448117

In [130]:
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

4.198687374936138